{% extends "driverRewards/basic.html" %}
{% block content %}
  {% load static %}
  <h1>Sponsor List</h1>
  <p>List of all sponsors</p>
  <div id="dList">
  {% for sponsor in sponsorList %}
  <a href="//54.88.218.67/home/all_sponsors/viewProfile/?uname={{ sponsor.user }}" style="color: black;">{{ sponsor.last }}, {{ sponsor.first }}, {{ sponsor.pVal }}</a>
  <form method="POST" action"/home/all_sponsors/">
	{% csrf_token %}
	<input type="hidden" value="{{ sponsor.user }}" name="uname">
	<input type="number" step="0.01" name="pointVal" id="pointValID">
	<input type="submit" value="Submit" id="DollarValue" name="Dollars">
        <input type="hidden" id="pointid" name="point" value="{{ sponsor.pVal }}">
  </form>
	<br>	
  {% endfor %}
  </div>
  
  <script type="text/javascript" src="{% static "main/driverList.js" %}"></script>
{% endblock content %}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/all_drivers/">All Drivers</a>
	<a class="nav-item nav-link" href="/home/all_sponsors/">All Sponsors</a>
	<a class="nav-item nav-link" href="/home/all_admins/">All Admins</a>
	<a class="nav-item nav-link" href="/home/admin_catalogs/">Catalogs</a>
{% endblock extraButtons %}
