{% extends "driverRewards/basic.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static "main/driverList.js" %}"></script>
<h1>Driver List</h1>
<p>Lists each driver in the company with their current point total</p>
<ul>
  {% for driver in driverList %}
  <li>{{ driver.last }}, {{ driver.first }}: {{ driver.pointTotal }}</li>
  {% endfor %}
</ul>
{% endblock content %}

{% block extraButtons %}
<a class="nav-item nav-link" href="/home/drivers/">My Drivers</a>
{% endblock extraButtons %}