{% extends "driverRewards/basic.html" %}
{% block content %}
	{% load static %}
	<script type="text/javascript" src="{% static "main/home.js" %}"></script>
	<h1>Admin Home</h1>
        <input type="button" id="logout" value="Logout">
{% endblock content %}

{% block sidebar %}
<p>Create a New User:  <a href="http://54.88.218.67/home/newuser/"><img border="0" alt="newuserbutton" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9acrIBvICqIJFbikyOOCLSBudtqNWtA68Cw&usqp=CAU" width="15" height="15"></a> </p>
{% endblock sidebar%}

{% block extraButtons %}
	<a class="nav-item nav-link" href="/home/all_drivers/">All Drivers</a>
	<a class="nav-item nav-link" href="/home/all_sponsors/">All Sponsors</a>
	<a class="nav-item nav-link" href="/home/all_admins/">All Admins</a>
	<a class="nav-item nav-link" href="/home/admin_catalogs/">Catalogs</a>
{% endblock extraButtons %}
