{% extends "driverRewards/basic.html" %}
{% block content %}
	{% load static %}
	<script type="text/javascript" src="{% static "main/home.js" %}"></script>
	<h1>Admin Home</h1>
        <input type="button" id="logout" value="Logout">
{% endblock content %}

{% block extraButtons %}
	<a class="nav-item nav-link" href="/home/all_drivers/">All Drivers</a>
	<a class="nav-item nav-link" href="/home/all_sponsors/">All Sponsors</a>
	<a class="nav-item nav-link" href="/home/all_admins/">All Admins</a>
{% endblock extraButtons %}
