{% extends "driverRewards/basic.html" %}
{% block content %}
	<h1>My Outstanding (Cancelable) Purchases</h1>
	<br>
	{% for item in itemList %}
	<div>
		<strong>{{ item.name }}</strong>
		<br>
		{{ item.pointCost }} points
		<form method="POST" action="/home/cart_list/cart/">
			{% csrf_token %}
			<input type="submit" value="Cancel">
			<input type="hidden" value="{{ item.dbid }}" name="itemID">
		</form>
	</div>
	<br>
	{% endfor %}
{% endblock content %}

{% block sidebar %}
	<h3>{{ drivObj.first }} {{ drivObj.last }}'s Points:</h3>
        {% for entry in drivObj.pointObjs %}
                <p>{{ entry.employerName }}: {{ entry.pointTotal }}</p>
        {% endfor %}	
{% endblock sidebar %}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/companies/">Companies</a>
        <a class="nav-item nav-link" href="/home/catalogs/">Catalogs</a>
{% endblock extraButtons %}

{% block rightButtons %}
	<a class="nav-item nav-link" href="/home/purchases/">My Purchases</a>
        <a class="nav-item nav-link" href="/home/cart_list/">My Carts</a>
{% endblock rightButtons %}
