{% extends "driverRewards/basic.html" %}
{% block content %}
  <h1>{{ companyProf.name }}</h1>
  <p>Point Ratio: {{ companyProf.pointRatio }} Points/USD</p>
  <p>My Points: {{ dPoints }}</p>
<form method="POST", action="/home/companies/profile/">
		{% csrf_token %}
  <input type="hidden" value="{{companyProf.cid}}" name="compID">		
  <input type="submit" value="Resign" name="resign">
</form>
{% endblock content %}

{% block sidebar %}
        <p>Join Code: <strong>{{ companyProf.code }}</strong></p>
{% endblock sidebar%}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/companies/">Companies</a>
	<a class="nav-item nav-link" href="/home/catalogs/">Catalogs</a>
{% endblock extraButtons %}

{% block rightButtons %}
	<a class="nav-item nav-link" href="/home/purchases/">My Purchases</a>
        <a class="nav-item nav-link" href="/home/cart_list/">My Carts</a>
{% endblock rightButtons %}
