{% extends "driverRewards/basic.html" %}
{% block content %}
  <h1>Point Value</h1>
  <form method="POST" action"home/point_value/">
     {% csrf_token %}
     <p>Current Value:</p>
     <p>${{dollarValue}} Dollars per 1 Point</p>
        <input type="number" name="pointVal" id="pointValID">
        <input type="submit" value="Submit" id="DollarValue" name="Dollars">
       <!-- <input type="submit" value="Remove" id="removeButID" name="removeBut">
        <input type="hidden" id="userid" name="username" value="{{ driver.user }}">
	<input type="hidden" id="pointid" name="point" value="{{ driver.pointTotal }}"> -->
  </form>
{% endblock content %}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/drivers/">My Drivers</a>
        <a class="nav-item nav-link" href="/home/point_value/">Point Value</a>
{% endblock extraButtons %}
