{% extends "driverRewards/basic.html" %}
{% block content %}
	<h1>{{ compName }} Catalog</h1>
	<div>Powered by eBay</div>
	<br>
	{% for item in itemList %}
	<div>
		<a href="{{ item.itemURL }}" target="_blank" style="color: black;"><strong>{{ item.name }}</strong></a>
		<br>
		{{ item.points }} points
	</div>
	<br>
	{% endfor %}
{% endblock content %}

{% block sidebar %}
	<form method="POST" action="/home/catalog/">
		{% csrf_token %}
		<h5>Update eBay Search String</h5>
		<label>Current Query: {{ query }}</label>
		<input type="text" name="newQuery">
		<input type="submit" value="Update">
	</form>
{% endblock sidebar %}

{% block extraButtons %}
	<a class="nav-item nav-link" href="/home/drivers/">My Drivers</a>
	<a class="nav-item nav-link" href="/home/point_value/">My Company</a>
	<a class="nav-item nav-link" href="/home/catalog/">Catalog</a>
{% endblock extraButtons %}
