{% extends "driverRewards/basic.html" %}
{% block content %}
	<h1>{{ compName }} Catalog</h1>
	<div>Powered by eBay</div>
	<br>
	{% for item in itemList %}
	<div>
		<strong>{{ item.name }}</strong>
		<br>
		{{ item.points }} points
	</div>
	<br>
	{% endfor %}
{% endblock content %}

{% block extraButtons %}
	<a class="nav-item nav-link" href="/home/drivers/">My Drivers</a>
	<a class="nav-item nav-link" href="/home/point_value/">My Company</a>
	<a class="nav-item nav-link" href="/home/catalog/">Catalog</a>
{% endblock extraButtons %}
