{% extends "driverRewards/basic.html"%}
{% block content %}
	<h1>{{ sponsorObj.first }} {{ sponsorObj.last }}'s Profile</h1>
	<p>Username: {{ sponsorObj.user }}</p>
	<p>First Name: {{ sponsorObj.first }}</p>
	<p>Last Name: {{ sponsorObj.last }}</p>
	<p>Preferred Name: {{ sponsorObj.prefName }}</p>
	<p>Email Address: {{ sponsorObj.email }}</p>
	<p>Phone Number: {{ sponsorObj.phone }}</p>
	<p>Address: {{ sponsorObj.address }}</p>
{% endblock content %}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/all_drivers/">All Drivers</a>
	<a class="nav-item nav-link" href="/home/all_sponsors/">All Sponsors</a>
	<a class="nav-item nav-link" href="/home/all_admins/">All Admins</a>
{% endblock extraButtons %}
