{% extends "driverRewards/basic.html"%}
{% block content %}
	<h1>My Profile</h1>
	<p>First Name: {{infoList.0.fname2}}</p>
	<p>Last Name: {{infoList.0.lname2}}</p>
	<p>Preferred Name: {{infoList.0.pname2}}</p>
	<p>Email Address: {{infoList.0.email2}}</p>
	<p>Phone Number: {{infoList.0.phone2}}</p>
	<p>Address: {{infoList.0.address2}}</p>
{% endblock content %}

{% block extraButtons %}
        <a class="nav-item nav-link" href="/home/drivers/">My Drivers</a>
        <a class="nav-item nav-link" href="/home/point_value/">Point Value</a>
{% endblock extraButtons %}
