{% extends "driverRewards/basic.html"%}
{% block content %}
	{% load static %}
        <script type="text/javascript" src="{% static "main/logout.js" %}"></script> 
        <h1>Logout Page</h1>
        <p>You were succesfully logged out</p>
        <input type="button" id="login" value="Login">
{% endblock content %}


<!--<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<script type="text/javascript" src="{% static "main/logout.js" %}"></script>
	</head>
	<body>

		<h1>This is the logout page</h1>
		<p>you were succesfully logged out</p>
		<input type="button" id="login" value="login"> 
	</body>
</html>
